.tedbox, .robinbox, .barneybox, .marshallbox, .lilybox {
	background-color: rgb(14, 13, 13);
	min-width: 20px;
	min-height: 20px;
	width: 20vw;
	height: 20vw;
	margin: 1vw;
	padding: 5px;
	border-radius: 30px;
	color: whitesmoke;
	position: absolute; /* or position: relative; */
	top: 30vh;
	left: 38vw;
	z-index: 1; /* Ensure the elements are stacked above the SVG image */
	/* Add any other styles or positioning properties as needed */
}

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrap {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-right {
	background-color: #c4c4c4;
	border: 2px;
	border-radius: 5px;
	width: 200px;
	align-content: center;
	color: rgb(5, 15, 15);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button-wrong {
	background-color: #c4c4c4;
	border: 2px;
	border-radius: 5px;
	width: 200px;
	align-content: center;
	color: rgb(5, 15, 15);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


.st0{fill:#212A2E;}
	.st1{fill:#283236;}
	.st2{fill:#0D0C0B;}
	.st3{fill:#4D3E29;}
	.st4{fill:#5E4A2F;}
	.st5{fill:#4F402A;}
	.st6{fill:#675134;}
	.st7{fill:#6C5737;}
	.st8{fill:#4B3D29;}
	.st9{fill:#483A26;}
	.st10{fill:#5D482E;}
	.st11{fill:#3E3422;}
	.st12{fill:#725938;}
	.st13{fill:#1A150D;}
	.st14{fill:#59482F;}
	.st15{fill:#FAFAFB;}
	.st16{fill:#655034;}
	.st17{fill:#80663D;}
	.st18{fill:#523F29;}
	.st19{fill:#473622;}
	.st20{fill:#56442C;}
	.st21{fill:#5E4B31;}
	.st22{fill:#423524;}
	.st23{fill:#6A5235;}
	.st24{fill:#050404;}
	.st25{fill:#34291B;}
	.st26{fill:#5B482F;}
	.st27{fill:#2C373B;}
	.st28{fill:#4D3022;}
	.st29{fill:#53422B;}
	.st30{fill:#3E2414;}
	.st31{fill:#A78368;}
	.st32{fill:#2B3438;}
	.st33{fill:#2E393C;}
	.st34{fill:#2D383B;}
	.st35{fill:#392E1E;}
	.st36{fill:#020202;}
	.st37{fill:#20190F;}
	.st38{fill:#5D2020;}
	.st39{fill:#20140C;}
	.st40{fill:#2A2216;}
	.st41{fill:#411412;}
	.st42{fill:#5C462B;}
	.st43{fill:#3E3222;}
	.st44{fill:#312111;}
	.st45{fill:#4E3D27;}
	.st46{fill:#453724;}
	.st47{fill:#6C533C;}
	.st48{fill:#352E25;}
	.st49{fill:#A09180;}
	.st50{fill:#745F3E;}
	.st51{fill:#BE9980;}
	.st52{fill:#46301C;}
	.st53{fill:#423422;}
	.st54{fill:#463825;}
	.st55{fill:#786349;}
	.st56{fill:#3C3020;}
	.st57{fill:#6A6356;}
	.st58{fill:#475A5D;}
	.st59{fill:#313C40;}
	.st60{fill:#333F43;}
	.st61{fill:#3A4A4D;}
	.st62{fill:#344245;}
	.st63{fill:#3E4F52;}
	.st64{fill:#5E4C32;}
	.st65{fill:#30271B;}
	.st66{fill:#455759;}
	.st67{fill:#6C583A;}
	.st68{fill:#3F5054;}
	.st69{fill:#241E19;}
	.st70{fill:#37464B;}
	.st71{fill:#364448;}
	.st72{fill:#3B4B4F;}
	.st73{fill:#1E1610;}
	.st74{fill:#0E0807;}
	.st75{fill:#302619;}
	.st76{fill:#201A10;}
	.st77{fill:#131009;}
	.st78{fill:#313D41;}
	.st79{fill:#303B3E;}
	.st80{fill:#521717;}
	.st81{fill:#1F0505;}
	.st82{fill:#350A08;}
	.st83{fill:#1E0E07;}
	.st84{fill:#141617;}
	.st85{fill:#0D0E0F;}
	.st86{fill:#2A2C29;}
	.st87{fill:#161410;}
	.st88{fill:#27221E;}
	.st89{fill:#241810;}
	.st90{fill:#3C4C4E;}
	.st91{fill:#1F0B09;}
	.st92{fill:#2D0E0A;}
	.st93{fill:#260C06;}
	.st94{fill:#30100A;}
	.st95{fill:#470E0B;}
	.st96{fill:#5B1515;}
	.st97{fill:#2E0604;}
	.st98{fill:#251E13;}
	.st99{fill:#121414;}
	.st100{fill:#2F2518;}
	.st101{fill:#1C0403;}
	.st102{fill:#170504;}
	.st103{fill:#0B0B0D;}
	.st104{fill:#121213;}
	.st105{fill:#171A1A;}
	.st106{fill:#3F0B0A;}
	.st107{fill:#591919;}
	.st108{fill:#32291D;}
	.st109{fill:#2D0503;}
	.st110{fill:#3A302B;}
	.st111{fill:#301C10;}
	.st112{fill:#443825;}
	.st113{fill:#4C5F61;}
	.st114{fill:#4F6365;}
	.st115{fill:#435557;}
	.st116{fill:#506365;}
	.st117{fill:#4D6062;}
	.st118{fill:#425356;}
	.st119{fill:#4B5D5E;}
	.st120{fill:#506668;}
	.st121{fill:#47595C;}
	.st122{fill:#9B6A52;}
	.st123{fill:#201814;}
	.st124{fill:#524332;}
	.st125{fill:#654332;}
	.st126{fill:#374548;}
	.st127{fill:#150A05;}
	.st128{fill:#5E7374;}
	.st129{fill:#A6AAB0;}
	.st130{fill:#999A96;}
	.st131{fill:#36241E;}
	.st132{fill:#54696B;}
	.st133{fill:#888A87;}
	.st134{fill:#405153;}
	.st135{fill:#283033;}
	.st136{fill:#4E1313;}
	.st137{fill:#050507;}
	.st138{fill:#380C0A;}
	.st139{fill:#430C0B;}
	.st140{fill:#2A0504;}
	.st141{fill:#301816;}
	.st142{fill:#4C1C1B;}
	.st143{fill:#612222;}
	.st144{fill:#822E2E;}
	.st145{fill:#792C2C;}
	.st146{fill:#8F4946;}
	.st147{fill:#C8A491;}
	.st148{fill:#AC756F;}
	.st149{fill:#5A3F39;}
	.st150{fill:#4C3426;}
	.st151{fill:#7C523F;}
	.st152{fill:#80725D;}
	.st153{fill:#413930;}
	.st154{fill:#8E6551;}
	.st155{fill:#635645;}
	.st156{fill:#080706;}
	.st157{fill:#485757;}
	.st158{fill:#746D60;}
	.st159{fill:#611C1C;}
	.st160{fill:#834342;}
	.st161{fill:#6F2525;}
	.st162{fill:#35090A;}
	.st163{fill:#1A1B1C;}
	.st164{fill:#1D1C1D;}
	.st165{fill:#733F3E;}
	.st166{fill:#202324;}
	.st167{fill:#7A3532;}
	.st168{fill:#6A2A29;}
	.st169{fill:#4C0B0B;}
	.st170{fill:#3D0707;}
	.st171{fill:#571012;}
	.st172{fill:#554E43;}
	.st173{fill:#714A37;}
	.st174{fill:#2F1010;}
	.st175{fill:#B58C73;}
	.st176{fill:#815B45;}
	.st177{fill:#6A2727;}
	.st178{fill:#A87B63;}
	.st179{fill:#CBA48B;}
	.st180{fill:#8D877A;}
	.st181{fill:#997564;}
	.st182{fill:#7E786A;}
	.st183{fill:#3C2816;}
	.st184{fill:#74777D;}
	.st185{fill:#1F2126;}
	.st186{fill:#93735A;}
	.st187{fill:#0F1115;}
	.st188{fill:#010E14;}
	.st189{fill:#0A0A0D;}
	.st190{fill:#05232E;}
	.st191{fill:#C49D88;}
	.st192{fill:#181A1E;}
	.st193{fill:#0E1316;}
	.st194{fill:#051920;}
	.st195{fill:#390807;}
	.st196{fill:#0A0C0D;}
	.st197{fill:#190404;}
	.st198{fill:#232928;}
	.st199{fill:#2B2418;}
	.st200{fill:#080809;}
	.st201{fill:#CCA58E;}
	.st202{fill:#925554;}
	.st203{fill:#E4D3C7;}
	.st204{fill:#D2AC98;}
	.st205{fill:#302F36;}
	.st206{fill:#E8D5C9;}
	.st207{fill:#A27559;}
	.st208{fill:#DCC0B2;}
	.st209{fill:#CDB4A4;}
	.st210{fill:#C39B84;}
	.st211{fill:#AC8685;}
	.st212{fill:#463E38;}
	.st213{fill:#3A1415;}
	.st214{fill:#D6D3C8;}
	.st215{fill:#B99375;}
	.st216{fill:#BCB6A9;}
	.st217{fill:#C3B4A7;}
	.st218{fill:#D7C2B5;}
	.st219{fill:#373938;}
	.st220{fill:#C9C3B8;}
	.st221{fill:#E9E9EA;}
	.st222{fill:#D3B29C;}
	.st223{fill:#583C28;}
	.st224{fill:#614D39;}
	.st225{fill:#A49F93;}
	.st226{fill:#5D3233;}
	.st227{fill:#251108;}
	.st228{fill:#10353E;}
	.st229{fill:#A7A295;}
	.st230{fill:#B19281;}
	.st231{fill:#ECE1D7;}
	.st232{fill:#0A4859;}
	.st233{fill:#0F6679;}
	.st234{fill:#030A0E;}
	.st235{fill:#0C3746;}
	.st236{fill:#D3B5A2;}
	.st237{fill:#9C5A56;}
	.st238{fill:#9E988B;}
	.st239{fill:#827C6F;}
	.st240{fill:#969082;}
	.st241{fill:#E5CFB9;}
	.st242{fill:#67422A;}
	.st243{fill:#B6B1A5;}
	.st244{fill:#DCDDDB;}
	.st245{fill:#9A9486;}
	.st246{fill:#0A0304;}
	.st247{fill:#ACA79B;}
	.st248{fill:#9F9B8D;}
	.st249{fill:#341213;}
	.st250{fill:#CA4A67;}
	.st251{fill:#0A4C5E;}
	.st252{fill:#662D13;}
	.st253{fill:#6D5737;}
	.st254{fill:#5E4D32;}
	.st255{fill:#060505;}
	.st256{fill:#5D4A2E;}
	.st257{fill:#0D0D0B;}
	.st258{fill:#2C2E2F;}
	.st259{fill:#030203;}
	.st260{fill:#1D160C;}
	.st261{fill:#33291B;}
	.st262{fill:#A6AAAF;}
	.st263{fill:#2E383B;}
	.st264{fill:#526769;}
	.st265{fill:#5C452B;}
	.st266{fill:#493C27;}
	.st267{fill:#55442C;}
	.st268{fill:#504129;}
	.st269{fill:#624E32;}
	.st270{fill:#54432C;}
	.st271{fill:#7B623C;}
	.st272{fill:#8E684E;}
	.st273{fill:#1E1910;}
	.st274{fill:#0D0807;}
	.st275{fill:#352C27;}
	.st276{fill:#2C0E09;}
	.st277{fill:#714E3B;}
	.st278{fill:#070606;}
	.st279{fill:#4F3D27;}
	.st280{fill:#0E0D0F;}
	.st281{fill:#0B0404;}
	.st282{fill:#24241E;}
	.st283{fill:#1E0C0B;}
	.st284{fill:#352B1C;}
	.st285{fill:#3E2212;}
	.st286{fill:#3D4C4E;}
	.st287{fill:#0A0706;}
	.st288{fill:#160403;}
	.st289{fill:#2F0806;}
	.st290{fill:#394448;}
	.st291{fill:#23160E;}
	.st292{fill:#4C5E5F;}
	.st293{fill:#111213;}
	.st294{fill:#0C0E0F;}
	.st295{fill:#210404;}
	.st296{fill:#261E13;}
	.st297{fill:#473926;}
	.st298{fill:#503E28;}
	.st299{fill:#BE9A80;}
	.st300{fill:#9F9281;}
	.st301{fill:#662020;}
	.st302{fill:#9F745B;}
	.st303{fill:#403523;}
	.st304{fill:#3A3121;}
	.st305{fill:#423832;}
	.st306{fill:#3B0908;}
	.st307{fill:#7D523F;}
	.st308{fill:#896754;}
	.st309{fill:#635644;}
	.st310{fill:#364347;}
	.st311{fill:#554434;}
	.st312{fill:#4E3628;}
	.st313{fill:#440D0A;}
	.st314{fill:#1B0505;}
	.st315{fill:#501010;}
	.st316{fill:#5C2122;}
	.st317{fill:#DCBFB2;}
	.st318{fill:#303B3F;}
	.st319{fill:#B48E74;}
	.st320{fill:#1A1C20;}
	.st321{fill:#0B0B0C;}
	.st322{fill:#471413;}
	.st323{fill:#300604;}
	.st324{fill:#6B523C;}
	.st325{fill:#715938;}
	.st326{fill:#050506;}
	.st327{fill:#0D1215;}
	.st328{fill:#0A0B0C;}
	.st329{fill:#280504;}
	.st330{fill:#241F19;}
	.st331{fill:#1F282D;}
	.st332{fill:#603F2E;}
	.st333{fill:#CAA18A;}
	.st334{fill:#675135;}
	.st335{fill:#35231C;}
	.st336{fill:#1D1C1E;}
	.st337{fill:#5D4A30;}
	.st338{fill:#370A09;}
	.st339{fill:#251E14;}
	.st340{fill:#4A100F;}
	.st341{fill:#834140;}
	.st342{fill:#5C1615;}
	.st343{fill:#380D0B;}
	.st344{fill:#301010;}
	.st345{fill:#7D3734;}
	.st346{fill:#6B2B2A;}
	.st347{fill:#934D49;}
	.st348{fill:#481717;}
	.st349{fill:#C19C95;}
	.st350{fill:#815F47;}
	.st351{fill:#435558;}
	.st352{fill:#C8C2B7;}
	.st353{fill:#999486;}
	.st354{fill:#141619;}
	.st355{fill:#170B06;}
	.st356{fill:#66452F;}
	.st357{fill:#544D42;}
	.st358{fill:#511717;}
	.st359{fill:#925452;}
	.st360{fill:#0F1015;}
	.st361{fill:#010D13;}
	.st362{fill:#090A0D;}
	.st363{fill:#051D25;}
	.st364{fill:#9D8568;}
	.st365{fill:#A6A194;}
	.st366{fill:#B99275;}
	.st367{fill:#726B5E;}
	.st368{fill:#2D261A;}
	.st369{fill:#392D1E;}
	.st370{fill:#6F3131;}
	.st371{fill:#433523;}
	.st372{fill:#DBB9A5;}
	.st373{fill:#AB746F;}
	.st374{fill:#B1836D;}
	.st375{fill:#021820;}
	.st376{fill:#CDA98F;}
	.st377{fill:#453E38;}
	.st378{fill:#5C1A1B;}
	.st379{fill:#2F281B;}
	.st380{fill:#958F81;}
	.st381{fill:#EAEAEB;}
	.st382{fill:#373837;}
	.st383{fill:#9A9184;}
	.st384{fill:#A98080;}
	.st385{fill:#232C30;}
	.st386{fill:#D4B8AC;}
	.st387{fill:#4D5F61;}
	.st388{fill:#05242E;}
	.st389{fill:#A39D90;}
	.st390{fill:#9C5A55;}
	.st391{fill:#C49C88;}
	.st392{fill:#BBB6A9;}
	.st393{fill:#6E2425;}
	.st394{fill:#3A1314;}
	.st395{fill:#E1E0DA;}
	.st396{fill:#32100A;}
	.st397{fill:#83683E;}
	.st398{fill:#695335;}
	.st399{fill:#495B5D;}
	.st400{fill:#4C201F;}
	.st401{fill:#200A07;}
	.st402{fill:#340909;}
	.st403{fill:#331112;}
	.st404{fill:#581919;}
	.st405{fill:#465859;}
	.st406{fill:#323D41;}
	.st407{fill:#333F42;}
	.st408{fill:#293236;}
	.st409{fill:#46585C;}
	.st410{fill:#364245;}
	.st411{fill:#405154;}
	.st412{fill:#485A5D;}
	.st413{fill:#4D3F2A;}
	.st414{fill:#384649;}
	.st415{fill:#AEA99D;}
	.st416{fill:#415356;}
	.st417{fill:#211A11;}
	.st418{fill:#D1DED6;}
	.st419{fill:#DAE4DF;}
	.st420{fill:#E3E8E5;}
	.st421{fill:#0ED219;}
	.st422{fill:#A9B5B3;}
	.st423{fill:#02970D;}
	.st424{fill:#01B712;}
	.st425{fill:#006511;}
	.st426{fill:#C9D1CD;}
	.st427{fill:#018008;}
	.st428{fill:#848B88;}
	.st429{fill:#EDEDFF;}
	.st430{fill:#01A711;}
	.st431{fill:#BEC8C5;}
	.st432{fill:#FAEEFF;}
	.st433{fill:#DED8FC;}
	.st434{fill:#141415;}
	.st435{fill:#DBE1E1;}
	.st436{fill:#B6C1BF;}
	.st437{fill:#5A6673;}
	.st438{fill:#E7ECE8;}
	.st439{fill:#BFDFC0;}
	.st440{fill:#F6F9FA;}
	.st441{fill:#28282C;}
	.st442{fill:#353A48;}
	.st443{fill:#C7C2FF;}
	.st444{fill:#D6CEFF;}
	.st445{fill:#F9F6FF;}
	.st446{fill:#E8E0FE;}
	.st447{fill:#FFFFFF;}
	.st448{fill:#0AD30A;}
	.st449{fill:#003A24;}
	.st450{fill:#A0DEA0;}
	.st451{fill:#E5DDFE;}
	.st452{fill:#02BD05;}
	.st453{fill:#06CC06;}
	.st454{fill:#E6CFFE;}
	.st455{fill:#0D0708;}
	.st456{fill:#D2ECFD;}
	.st457{fill:#110605;}
	.st458{fill:#290D0C;}
	.st459{fill:#280A08;}
	.st460{fill:#221210;}
	.st461{fill:#D1CFD0;}
	.st462{fill:#D4D5DC;}
	.st463{fill:#EEEDF4;}
	.st464{fill:#200C09;}
	.st465{fill:#1D0C0B;}
	.st466{fill:#230D0C;}
	.st467{fill:#FAFBFF;}
	.st468{fill:#FDFDFE;}
	.st469{fill:#150C0B;}
	.st470{fill:#160604;}
	.st471{fill:#D2A393;}
	.st472{fill:#DDB2A0;}
	.st473{fill:#D5A89A;}
	.st474{fill:#BE8372;}
	.st475{fill:#D79B8B;}
	.st476{fill:#E6BAA4;}
	.st477{fill:#C49182;}
	.st478{fill:#AF7C70;}
	.st479{fill:#C07B65;}
	.st480{fill:#B47461;}
	.st481{fill:#330B08;}
	.st482{fill:#DDA896;}
	.st483{fill:#280D0A;}
	.st484{fill:#401D18;}
	.st485{fill:#D19883;}
	.st486{fill:#E6AA93;}
	.st487{fill:#9E6156;}
	.st488{fill:#9A7168;}
	.st489{fill:#35150F;}
	.st490{fill:#48110A;}
	.st491{fill:#4A1B15;}
	.st492{fill:#40120C;}
	.st493{fill:#61251B;}
	.st494{fill:#825042;}
	.st495{fill:#7B3324;}
	.st496{fill:#A96349;}
	.st497{fill:#CC846C;}
	.st498{fill:#CA8369;}
	.st499{fill:#E9B29B;}
	.st500{fill:#B56548;}
	.st501{fill:#C19589;}
	.st502{fill:#D28D6E;}
	.st503{fill:#BD9794;}
	.st504{fill:#CFB5AF;}
	.st505{fill:#C88068;}
	.st506{fill:#3F0F0B;}
	.st507{fill:#DAA086;}
	.st508{fill:#F2B697;}
	.st509{fill:#280B08;}
	.st510{fill:#1F0E0B;}
	.st511{fill:#D79879;}
	.st512{fill:#7A392B;}
	.st513{fill:#6B2D22;}
	.st514{fill:#2A110D;}
	.st515{fill:#8B432E;}
	.st516{fill:#B7664F;}
	.st517{fill:#924332;}
	.st518{fill:#4E140A;}
	.st519{fill:#803420;}
	.st520{fill:#611C10;}
	.st521{fill:#9F503B;}
	.st522{fill:#DA9470;}
	.st523{fill:#E59E7A;}
	.st524{fill:#BC6C54;}
	.st525{fill:#E19875;}
	.st526{fill:#C77558;}
	.st527{fill:#BB694E;}
	.st528{fill:#D08163;}
	.st529{fill:#9B4A37;}
	.st530{fill:#A44C2F;}
	.st531{fill:#C57559;}
	.st532{fill:#EDB190;}
	.st533{fill:#E5A384;}
	.st534{fill:#390F0A;}
	.st535{fill:#CF9077;}
	.st536{fill:#CE8671;}
	.st537{fill:#AE684E;}
	.st538{fill:#9D5242;}
	.st539{fill:#D9947F;}
	.st540{fill:#DE9D8A;}
	.st541{fill:#EFB396;}
	.st542{fill:#DDA586;}
	.st543{fill:#E9AD93;}
	.st544{fill:#D38868;}
	.st545{fill:#CE8464;}
	.st546{fill:#CC8668;}
	.st547{fill:#D99874;}
	.st548{fill:#C98162;}
	.st549{fill:#D2896A;}
	.st550{fill:#E29E85;}
	.st551{fill:#D68E6C;}
	.st552{fill:#DCAE8C;}
	.st553{fill:#D49577;}
	.st554{fill:#DA9C83;}
	.st555{fill:#D6926F;}
	.st556{fill:#E3A695;}
	.st557{fill:#D48D6D;}
	.st558{fill:#651F14;}
	.st559{fill:#DEB189;}
	.st560{fill:#DBA07A;}
	.st561{fill:#491D15;}
	.st562{fill:#D38768;}
	.st563{fill:#D49273;}
	.st564{fill:#DE987D;}
	.st565{fill:#EFB69C;}
	.st566{fill:#E9A686;}
	.st567{fill:#D68664;}
	.st568{fill:#D18669;}
	.st569{fill:#D07E60;}
	.st570{fill:#D48B6A;}
	.st571{fill:#C77E62;}
	.st572{fill:#CE8366;}
	.st573{fill:#D07756;}
	.st574{fill:#CC7E61;}
	.st575{fill:#EBB39F;}
	.st576{fill:#D48A6A;}
	.st577{fill:#C97A5D;}
	.st578{fill:#AF5C46;}
	.st579{fill:#B15F49;}
	.st580{fill:#C97D61;}
	.st581{fill:#CD866D;}
	.st582{fill:#D49175;}
	.st583{fill:#E7A98E;}
	.st584{fill:#DA937A;}
	.st585{fill:#DC9980;}
	.st586{fill:#582B1D;}
	.st587{fill:#CA7D60;}
	.st588{fill:#BB6F57;}
	.st589{fill:#C37256;}
	.st590{fill:#DDA67F;}
	.st591{fill:#E2A38A;}
	.st592{fill:#DA9A75;}
	.st593{fill:#D89B7B;}
	.st594{fill:#DDA07C;}
	.st595{fill:#DDA27C;}
	.st596{fill:#DFB187;}
	.st597{fill:#DDA780;}
	.st598{fill:#6A281A;}
	.st599{fill:#662216;}
	.st600{fill:#592017;}
	.st601{fill:#44140D;}
	.st602{fill:#DA9D7A;}
	.st603{fill:#CC7B5A;}
	.st604{fill:#F1C4AC;}
	.st605{fill:#DCA078;}
	.st606{fill:#DEA880;}
	.st607{fill:#D8926E;}
	.st608{fill:#58150D;}
	.st609{fill:#501910;}
	.st610{fill:#6A1F13;}
	.st611{fill:#873827;}
	.st612{fill:#581C13;}
	.st613{fill:#DA9B77;}
	.st614{fill:#D78E6B;}
	.st615{fill:#D68969;}
	.st616{fill:#CD7C5F;}
	.st617{fill:#C37358;}
	.st618{fill:#5C1E16;}
	.st619{fill:#C07360;}
	.st620{fill:#C66E4F;}
	.st621{fill:#A85B47;}
	.st622{fill:#DA9274;}
	.st623{fill:#D48462;}
	.st624{fill:#230705;}
	.st625{fill:#DCA27C;}
	.st626{fill:#742A1D;}
	.st627{fill:#DA9D79;}
	.st628{fill:#D79472;}
	.st629{fill:#4E1611;}
	.st630{fill:#EDBCA2;}
	.st631{fill:#440E0A;}
	.st632{fill:#A95541;}
	.st633{fill:#31100B;}
	.st634{fill:#D58E6E;}
	.st635{fill:#F4BFA5;}
	.st636{fill:#E7AA91;}
	.st637{fill:#D28D77;}
	.st638{fill:#270806;}
	.st639{fill:#D49575;}
	.st640{fill:#370C08;}
	.st641{fill:#F0BCA7;}
	.st642{fill:#D0704A;}
	.st643{fill:#D58970;}
	.st644{fill:#F8D3C1;}
	.st645{fill:#D08B74;}
	.st646{fill:#F6D0B9;}
	.st647{fill:#6E261C;}
	.st648{fill:#CF8163;}
	.st649{fill:#C47155;}
	.st650{fill:#EAAA8C;}
	.st651{fill:#E29D80;}
	.st652{fill:#9B4130;}
	.st653{fill:#E5A486;}
	.st654{fill:#DB9376;}
	.st655{fill:#F0B89F;}
	.st656{fill:#E19C82;}
	.st657{fill:#F3C3AA;}
	.st658{fill:#571710;}
	.st659{fill:#FAD7C0;}
	.st660{fill:#F8D9C4;}
	.st661{fill:#F5C7B1;}
	.st662{fill:#77281B;}
	.st663{fill:#EBAD8D;}
	.st664{fill:#D69078;}
	.st665{fill:#EEAC90;}
	.st666{fill:#F5C4AC;}
	.st667{fill:#E7A78C;}
	.st668{fill:#C0745C;}
	.st669{fill:#F4C9B4;}
	.st670{fill:#F6DBCC;}
	.st671{fill:#5C1C13;}
	.st672{fill:#EAAB90;}
	.st673{fill:#CB7F68;}
	.st674{fill:#E5A68E;}
	.st675{fill:#CD8163;}
	.st676{fill:#3D0B08;}
	.st677{fill:#C87759;}
	.st678{fill:#F5CCB3;}
	.st679{fill:#F1BC9E;}
	.st680{fill:#EFBDA0;}
	.st681{fill:#360E0C;}
	.st682{fill:#EDB096;}
	.st683{fill:#EFBAA5;}
	.st684{fill:#E19A7D;}
	.st685{fill:#F3B9A0;}
	.st686{fill:#EFB69D;}
	.st687{fill:#DF9C7E;}
	.st688{fill:#F0BCA3;}
	.st689{fill:#EFB299;}
	.st690{fill:#2B0705;}
	.st691{fill:#C57A60;}
	.st692{fill:#5C180F;}
	.st693{fill:#FAD2BB;}
	.st694{fill:#D49375;}
	.st695{fill:#E69F7D;}
	.st696{fill:#CC0101;}
	.st697{fill:#FDFCFD;}
	.st698{fill:#FEFCFC;}
	.st699{fill:#FDFBFC;}
	.st700{fill:#FDFCFC;}
	.st701{fill:#010165;}
	.st702{fill:#CA0405;}
	.st703{fill:#020165;}
	.st704{fill:#CA0505;}
	.st705{fill:#CA0506;}
	.st706{fill:#05045A;}
	.st707{fill:#04035A;}
	.st708{fill:#B61817;}
	.st709{fill:#100F6B;}
	.st710{fill:#08055C;}
	.st711{fill:#0E0E73;}
	.st712{fill:#0F0F75;}
	.st713{fill:#0C0B71;}
	.st714{fill:#C01717;}
	.st715{fill:#02014F;}
	.st716{fill:#0D0D71;}
	.st717{fill:#0D0C71;}
	.st718{fill:#100F75;}
	.st719{fill:#04035C;}
	.st720{fill:#030157;}
	.st721{fill:#010166;}
	.st722{fill:#775F50;}
	.st723{fill:#6C5547;}
	.st724{fill:#644F42;}
	.st725{fill:#59463B;}
	.st726{fill:#5D493D;}
	.st727{fill:#F1C6B2;}
	.st728{fill:#C59177;}
	.st729{fill:#E2A792;}
	.st730{fill:#E0B79F;}
	.st731{fill:#E9B19E;}
	.st732{fill:#D4A68B;}
	.st733{fill:#D4B09C;}
	.st734{fill:#E7B79F;}
	.st735{fill:#EABEA7;}
	.st736{fill:#EEC5AE;}
	.st737{fill:#E3B39B;}
	.st738{fill:#E6C2AF;}
	.st739{fill:#D2A890;}
	.st740{fill:#D5A085;}
	.st741{fill:#AC8066;}
	.st742{fill:#DDB297;}
	.st743{fill:#B39582;}
	.st744{fill:#D09B7E;}
	.st745{fill:#C3A18E;}
	.st746{fill:#C79A7F;}
	.st747{fill:#BA8E73;}
	.st748{fill:#B6856A;}
	.st749{fill:#CBA996;}
	.st750{fill:#E9C0AC;}
	.st751{fill:#DAB6A2;}
	.st752{fill:#9E725D;}
	.st753{fill:#E1BEAC;}
	.st754{fill:#F1D2C0;}
	.st755{fill:#EBCBB8;}
	.st756{fill:#755A4B;}
	.st757{fill:#714C3E;}
	.st758{fill:#996B54;}
	.st759{fill:#8B634D;}
	.st760{fill:#856958;}
	.st761{fill:#907361;}
	.st762{fill:#7F6454;}
	.st763{fill:#DFA68D;}
	.st764{fill:#DBA186;}
	.st765{fill:#E9C6B4;}
	.st766{fill:#DAA78D;}
	.st767{fill:#E6BBA2;}
	.st768{fill:#E4AC93;}
	.st769{fill:#9B7C69;}
	.st770{fill:#DEAD93;}
	.st771{fill:#AD846D;}
	.st772{fill:#7D6151;}
	.st773{fill:#D69B81;}
	.st774{fill:#EBAB95;}
	.st775{fill:#E2B498;}
	.st776{fill:#F2BEA8;}
	.st777{fill:#ECC2AA;}
	.st778{fill:#E8B499;}
	.st779{fill:#EEC0AB;}
	.st780{fill:#4C3A30;}
	.st781{fill:#92715E;}
	.st782{fill:#805B47;}
	.st783{fill:#E9BEA4;}
	.st784{fill:#EDB9A0;}
	.st785{fill:#EFB5A3;}
	.st786{fill:#E5BFA9;}
	.st787{fill:#E4A184;}
	.st788{fill:#EEC9B5;}
	.st789{fill:#EAC5B0;}
	.st790{fill:#0F0E0A;}
	.st791{fill:#0D090A;}
	.st792{fill:#170E0F;}
	.st793{fill:#0C090A;}
	.st794{fill:#0E0D07;}
	.st795{fill:#0F0B0C;}
	.st796{fill:#0C0B08;}
	.st797{fill:#0F0D0A;}
	.st798{fill:#0A0708;}
	.st799{fill:#140D0E;}
	.st800{fill:#070707;}
	.st801{fill:#0A0707;}
	.st802{fill:#090906;}
	.st803{fill:#FBD33D;}
	.st804{fill:#FCD43E;}
	.st805{fill:#FBCC22;}
	.st806{fill:#FBCD23;}
	.st807{fill:#FAC608;}
	.st808{fill:#FBCF2C;}
	.st809{fill:#FAC607;}
	.st810{fill:#FBCA18;}
	.st811{fill:#FBCC21;}
	.st812{fill:#FAC811;}
	.st813{fill:#FBD030;}
	.st814{fill:#FACF2E;}
	.st815{fill:#FBD032;}
	.st816{fill:#FCCA18;}
	.st817{fill:#FCCC1E;}
	.st818{fill:#FAC70F;}
	.st819{fill:#B81E23;}
	.st820{fill:#C72026;}
	.st821{fill:#C22025;}
	.st822{fill:#B31E22;}
	.st823{fill:#BE1F24;}
	.st824{fill:#BD1F24;}
	.st825{fill:#BA1F23;}
	.st826{fill:#C52025;}
	.st827{fill:#C01F24;}
	.st828{fill:#AE1D21;}
	.st829{fill:#A41B1E;}
	.st830{fill:#A91C1F;}
	.st831{fill:#9F1A1D;}
	.st832{fill:#9D1A1D;}
	.st833{fill:#F6C401;}
	.st834{fill:#F3BF01;}
	.st835{fill:#EEBA01;}
	.st836{fill:#F1BC01;}
	.st837{fill:#FCCE00;}
	.st838{fill:#C52026;}
	.st839{fill:#BF1F24;}
	.st840{fill:#ECB601;}
	.st841{fill:#E9B101;}
	.st842{fill:#E6AD02;}
	.st843{fill:#E2A802;}
	.st844{fill:#B81F22;}
	.st845{fill:#B21E21;}
	.st846{fill:#EAB601;}
	.st847{fill:#C82126;}
	.st848{fill:#F9C900;}
	.st849{fill:#C09D00;}